.add-habit-container {
  background-color: rgba(5, 5, 25, 0.084);

  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  margin: 1% 0 2% 0;
}

.add-habit-container:hover {
  background-color: var(--secundary);
}
