.user-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 15px;
}
#input-user-picture {
  display: none;
}

.profile-picture {
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
  border-radius: 100%;
  cursor: pointer;
  background-size: cover;
}

.profile-picture-container {
  background-image: url("../../../../assets/user-picture/user-picture.png");
  background-size: cover;
  transition: 1.9s;
}
.profile-picture-container:hover {
  transform: scale(1.1);
}

.title-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

.user-header-container:hover {
  background-color: var(--secundary);
  border-radius: 7px;
}

.disable {
  display: none;
}
