.pomodoro-container {
  color: white;
  background-color: var(--secundary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
}

.pomo-time-container {
  font-size: 72px;
  font-weight: 700;
  font-family: poppins;
}
.button-pomo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border-radius: 100%;
  cursor: pointer;
}

.play {
  /* box-shadow: -6px 0px 0px 0px #9d131aa1; */
  width: 50px;
  height: 50px;
}

.active {
  /* CSS Play button active*/
}

.aux {
  width: 40px;
  height: 40px;
  background-color: #ff04259d;

}

.pomoNav {
  width: 100%;
}

.buttons-pomo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cycle-view {
  display: flex;
}
