.all-container {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background: var(--bodyBlue);
  display: flex;
}

.tasks-logo-container {
  width: 22%;
  padding: 2% 0 0 4%;
}

.body-main-app-container {
  width: 75%;
}

/** Content into body-main-app-container*/

header {
  width: 100%;
  height: 12%;
}

.body-app {
  width: 100vw;
  max-width: 100%;
  height: 88%;
}

.title-greeting {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 31px;
  padding: 8px 0;
}

.content-body-app-container {
  width: 100%;
  height: 90%;
  display: flex;
}

.record-missions-container {
  width: 50%;
  background-color: var(--secundary);
  border-radius: 20px;
}

.pomo-habits-container {
  width: 100%;
  padding: 0 3%;
}

.habits-container {
  max-height: 40%;
  margin-top: 20px;
  border: 1.5px solid var(--lightBlue);
  border-radius: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

.habits-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.habits-container::-webkit-scrollbar:vertical {
  width: 10px;
}

.habits-container::-webkit-scrollbar-button:increment,
.habits-container::-webkit-scrollbar-button {
  display: none;
}

.habits-container::-webkit-scrollbar-thumb {
  background-color: var(--secundary);
  border-radius: 20px;
  border: 1px solid var(--lightBlue);
}

.habits-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
