.header-container {
  width: 96%;
  height: 100%;
  display: grid;
  grid-template-columns: 7% 77% 18%;
  align-items: center;
  padding-right: 4%;
  border-bottom: solid 0.5px rgba(211, 211, 211, 0.085);
  margin: 0;
}

.help-header-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button-container {
  width: 35px;
  height: 35px;
  background-color: var(--secundary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 9px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.mid-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 15px;
}

.margin-user {
  border-left: solid 0.5px rgba(211, 211, 211, 0.085);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
}
