.add-task-container {
  width: 60%;
  padding: 12px;
  color: white;
  background-color: var(--secundary);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
  cursor: pointer;
}


.active-add-task {
  color: black;
  background-color: white;
}

.input-add-task {
  outline: none;
  border: 0;
  border-radius: 12px;
  width: 80%;
  padding: 12px 12px 64px 12px;
}

.add-task-button::after {
  content: "Add new task";
}

.disable {
  display: none;
}

.controls-add-task{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
