.add-task-container {
  width: 78%;
  color: white;
  background-color: var(--secundary);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  cursor: pointer;
}
.add-task-section {
  padding: 12px;
  border-radius: 7px;
}

.add-task-section:hover {
  background-color: var(--lightBlue);
}

.active-add-task {
  width: 70%;
  padding: 12px;
  color: black;
  background-color: white;
}

.input-add-task {
  outline: none;
  border: 0;
  border-radius: 12px;
  width: 80%;
  padding: 12px 6px 64px 6px;
  font-size: 16px;
  font-weight: 300;
  color: lightslategray;
}

.add-task-button::after {
  content: "Add new task";
}

.controls-add-task {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.controls-add-task button {
  border: 0;
  background-color: var(--bodyBlue);
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
}



.controls-add-task span {
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  font-family: montserrat;
  color: gray;
}
