.task-container {
  width: 80%;
  padding: 12px;
  color: black;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container:hover{
  background-color: rgb(244, 243, 243);

}
.margin-container {
  padding: 7px 0;
}

