.task-container {
  width: 70%;
  padding: 12px 8px;
  color: black;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  position: relative;
}

.task-section {
  width: 100%;
  padding-left: 2px;
  color: black;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container:hover {
  background-color: rgb(244, 243, 243);
}

.setting-task-card {
  display: flex;
  cursor: pointer;
  padding: 2px 1px;
}

.setting-task-card:hover {
  background-color: #ccc;
  border-radius: 3px;
}
.margin-container {
  padding: 7px 0;
}

.check-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 3px;
}

.check-task-container input[type="checkbox"] + label::before {
  content: "";
  width: 14px;
  height: 14px;
  float: left;
  border: 2px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.check-task-container input[type="checkbox"]:checked + label:before {
  border-color: var(--bodyBlue);
}

.check-task-container input[type="checkbox"]:checked + label:after {
  content: "";
  width: 6px;
  height: 3px;
  border: 3px solid var(--lightBlue);
  float: left;
  margin-left: -0.8em;
  border-right: 0;
  border-top: 0;
  margin-top: 0.3em;
  transform: rotate(-55deg);
  cursor: pointer;
}

.check-task-container input[type="checkbox"] {
  display: none;
}

/*Edit Task Section*/

.edit-task-container {
  width: 50%;
  top: 40px;
  right: -40%;
  position: absolute;
  color: var(--colorText2);
  padding: 12px 12px;
  background: white;
  box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.044);
  border-radius: 3px;
  z-index: 1000;
}


.del-task-btn{
  cursor: pointer;
  border-radius: 9px;
  padding: 4px;
}