:root {
  --red: #db212b;
  --secundary: #142d42;
  --bodyBlue: #11263a;
  --lightBlue: #1f465b;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: var(--bodyBlue);
  width: 100vw;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.disable {
  display: none;
}

.hidden {
  display: none;
}