:root{
  --red: #db212b;
  --secundary: #142d42;
  --bodyBlue: #11263a;
}
body {
  margin: 0;
  font-family: poppins;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
