:root {
  --red: #db212b;
  --secundary: #142d42;
  --bodyBlue: #11263a;
  --lightBlue: #1f465b;
  --colorText: white;
  --colorText2: black;
  --lightGra1 : "#eaeaea"
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--colorText);
  background-color: var(--bodyBlue);
  width: 100vw;
  max-width: 100%;
}

input {
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
label {
  margin: 0;
  padding: 0;
}
button {
  font-family: "Poppins", sans-serif;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
  padding: 0;
  cursor: pointer;

}
label{
  cursor: pointer;

}
.disable {
  display: none;
}

.hidden {
  display: none;
}

h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

